
{% block content %}

    {%for i in drv %}


<div class="form-row" style="margin:1%">
    <div style="margin-top: 0%;width: 25%; top: 1%;">
        <label for="validationCustom01" style="font-size:12 ;width:100%; top: 0%;margin-top: 0%;">Имя водителя</label>
        <input type="text" class="form-control"  style="font-size:12 ;width:100%; top: 0%; margin-top: 0%;" id="validationCustom01" placeholder="Имя водителя" disabled="disabled" value="{{i.0}}" required>  
    </div>
    <div style="margin-top: 0%;width: 25%; top: 1%;">
        <label for="validationCustom02"style="font-size:12 ;width:100%; top: 0%;margin-top: 0%;">Почта водителя</label>
        <input type="text" class="form-control"  style="font-size:12 ;width:100%; top: 0%; margin-top: 0%;" id="validationCustom02" placeholder="Почта водителя"  disabled="disabled" value="{{i.2}}" required>
    </div>
    <div style="margin-top: 0%;width: 25%; top: 1%;">
        <label for="validationCustomUsername"style="font-size:12 ;width:100%; top: 0%;margin-top: 0%;"">Телефон водителя</label>
        <input type="text" class="form-control"  style="font-size:12 ;width:100%; top: 0%; margin-top: 0%;" id="validationCustomUsername" value="{{i.3}}" placeholder="Имя пользователя" disabled="disabled" aria-describedby="inputGroupPrepend" required>     
    </div>
    <div style="margin-top: 0%;width: 25%; top: 1%;">
        <label for="validationCustom03"style="font-size:12 ;width:100%; top: 0%;margin-top: 0%;">ИД водителя</label>
        <input type="text" class="form-control"  style="font-size:12 ;width:100%; top: 0%; margin-top: 0%;" id="validationCustom03" placeholder="ИД водителя"value="{{i.1}}" disabled="disabled" required>
    </div>
    <div style="margin-top: 0%;width: 25%; top: 1%;">
        <label for="validationCustom04"style="font-size:12 ;width:100%; top: 0%;margin-top: 0%;">Промо водителя</label>
        <input type="text" class="form-control" id="validationCustom04"  style="font-size:12 ;width:100%; top: 0%; margin-top: 0%;" disabled="disabled" placeholder="Промо водителя"value="{{i.4}}" required>
    </div>
</div> 

    {%endfor%}
  
{% endblock %}

