
{% block content %}
<div style=" position: fixed;width: 35%;margin-top:0%; top:0%">
    <form action="{% url 'prover' %}"  method="POST" >
                {% csrf_token %}
        <div class="input-group mb-3"  >
            <div class="input-group-prepend">
                <span class="input-group-text" id="trip_id">Введите trip_id :</span>
            </div>
                <input type="text" class="form-control" id="trip_id"  name="trip_id"/>

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">ОТПРАВИТЬ</button>
            </div>
        </div>
    </form>
</div>  
{% endblock %}
