{% extends "main_tabl.html" %}
{% block title %}
Непроверенные поездки с доплатами
{% endblock %}
{% block content %}
{% include "include/include_logout.html" %}
<div style="position:fixed;width: 30%; margin-top:1%; top:0%">  
             
    <form action="{% url 'UnverifiedTripsCompensations_url' %}" method="POST">
        {% csrf_token %}
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="load" name="load" value="1" style="background-color:rgb(179, 179, 179);font-size: 10pt;" type="submit">ЗАГРУЗИТЬ</button>
        </div>
    </form>
</div>

<br>
<br>
<br>
<br>

<div class="pricelist" id="pricelist" style="margin-top:2%">
    <table id="pricetable-1" class="table-autosort:2">

<thead>
    <tr>
        <th class=" filterable sortable table-sortable:numeric" style="max-width: 20px; font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.7}}</th>
        <th class=" filterable sortable table-sortable:numeric" style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.0}}</th>
        <th class=" filterable sortable table-sortable:numeric" style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.1}}</th>
        <th class=" filterable sortable table-sortable:numeric" style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.2}}</th>
        <th class=" filterable sortable table-sortable:numeric" style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.3}}</th>
        <th class=" filterable sortable table-sortable:numeric" style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.4}}</th>
        <th class=" filterable sortable table-sortable:numeric" style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.5}}</th>
        <th class=" filterable sortable table-sortable:numeric" style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">{{j.6}}</th>
    </tr>
</thead>
    {% for i in data %}
        <tr>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >{{i.7}}</td>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                <a href="https://backoffice.k.fasten.com/#/orders/{{i.0}}" target="_blank">{{i.0}}</a>
            </td>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >{{i.1}}</td>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >{{i.2}}</td>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >{{i.3}}</td>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >{{i.4}}</td>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >{{i.5}}</td>
            <td class="nowrap" style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >{{i.6}}</td>
        </tr>

    {% endfor %}
</table>
</div>

<script>
    $(document).ready( function () {
    $('#pricetable-1').DataTable();
    } );
</script>
{% endblock %}
