{% block content %}

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-secondary" name='list2' value='start' > 1</button>
        <button type="submit" class="btn btn-secondary" name='list2' value='-1'    > {</button>
        <input   class="btn btn-secondary" style='width:50px;' disabled="disabled" value="{{sstr.1}}"/> 
        <input   class="btn btn-secondary" style='width:50px;' disabled="disabled" value="{{kol_stranic.1}}" /> 
        <button type="submit" class="btn btn-secondary" name='list2' value='+1'  > }</button>  
        <button type="submit" class="btn btn-secondary" name='list2' value='end' >END</button>

        
    </div>
{% endblock %}
