{% block content %}

<tr> 
{% for j in i %}
    {% if j == "UNBLOCKED" %}
        <td class="nowrap" >
                <button  value="{{i.1}}" name="block"
                style="background-color:rgb(179, 179, 179);font-size: 10pt;" 
                onClick="window.open('https://backoffice.k.fasten.com/#/orders/{{i.1}}','CONTENT')"  >
                Проверить заказ
                </button>
       
        </td>  
    {% elif j == "BLOCKED" %} 
        <td class="nowrap" >
                <button value="" name="block" disabled
                style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                Заказ проверяется другим пользователем ...
                </button>
          
        </td>           
    {% else %}
        <td class="nowrap" 
            style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
            {{j}}
        </td>
    {% endif %}
{% endfor %} 
<tr>
{% endblock %}
