{% block content %}

            <thead>
                    <tr>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_date
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    launch_region_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    driver_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    pattern_name
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    compensation
                    </th>     
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    update_date
                    </th>  
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    Button
                    </th>           
                </tr>
            </thead>


{% endblock %}