{% extends "base_main.html" %}

{% block title %}
Каталог             
{% endblock %}
 
{% block content %}
 
{% include "include/include_logout.html"%} 

<form action="{% url 'Fraud_PROV_url' %}" style="height:auto; margin-top: 4%; top: 0%;margin-bottom:0; " method="GET" >
    {% csrf_token %}
<button class="btn btn-secondary btn-lg btn-block"  type="submit">Проверка поездки</button></form>

<form action="{% url 'Driver_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
    {% csrf_token %}
<button class="btn btn-secondary btn-lg btn-block" type="submit">Проверка водитель</button>
</form>

<form action="{% url 'svod_doplat_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
    {% csrf_token %}
<button class="btn btn-secondary btn-lg btn-block" title="информация о движении денежных средств (компенсации, списания доплаты, корректировка стоимости поездки)"
 type="submit">Отчет о списании доплат </button>
</form>
<form action="{% url 'brend_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
        {% csrf_token %}
    <button class="btn btn-secondary btn-lg btn-block" title=""
        type="submit">Список заказов водителя за период </button>
    </form> 
<form action="{% url 'dash_drv_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
        {% csrf_token %}
    <button class="btn btn-secondary btn-lg btn-block" title=""
        type="submit">DASH Проверка водитель </button>
</form> 
<form action="{% url 'Fraud_inspector_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
        {% csrf_token %}
    <button class="btn btn-secondary btn-lg btn-block" title=""
        type="submit"> Fraud inspector </button>
</form> 
{% for i in request.user.groups.all %}
    {% if i.name == 'Группа_2'%}
        <form action="{% url 'zagr_tr_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
            {% csrf_token %}
            <button class="btn btn-secondary btn-lg btn-block" title=""
            type="submit">АЙКИДО,КИМОНО</button>
        </form> 
    {% endif %} 
{% endfor %}

<form action="{% url 'test_map_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
        {% csrf_token %}
    <button class="btn btn-secondary btn-lg btn-block" title=""
        type="submit"> test_map_url </button>
</form>

<form action="{% url 'google_Sheet_url' %}"  style="margin-top: 0%;  top: 0%;margin-bottom:0; "  method="GET" >
    {% csrf_token %}
<button class="btn btn-secondary btn-lg btn-block" title=""
    type="submit"> google_Sheet_url </button>
</form> 
{% endblock %}
