{% extends "main_tabl.html" %}

{% block title %}
Driver OLD
{% endblock %}
 
{% block content %}

{% include "include/include_logout.html"%}  



<form action="{% url 'google_Sheet_url' %}"    method="POST" >
    {% csrf_token %}
    <div  style="width:50%; top: 0%;height:30px ;margin-top: 0%;">
        <select type="submit" style="width:33%; top: 0% ;height:30px ; "   name="kod_city">
            {% for i in City %}
                {% if i.Код_Города == gorod %}
                    <option type="submit" selected value="{{i.Код_Города}}" >{{i.Город}}</option>
                {% else %}
                    <option value="{{i.Код_Города}}" >{{i.Город}}</option>
                {% endif %} 
            {% endfor %}
        </select>
        <input type="week" style="width:33%; top: 0%;" name = "time_week" value="{{now}}"/>
        <input type="submit" value="Отправить"></p> 
    </div> 
</form> 
  
{% endblock %}  