{% extends "main_tabl.html" %}

{% block title %}
Driver OLD
{% endblock %}
 
{% block content %}

{% include "include/include_logout.html"%}  



<form action="{% url 'zagr_tr_url' %}"    method="POST" >
    {% csrf_token %}
    <div  style="width:50%; top: 0%;height:30px ;margin-top: 0%;">
        <select type="submit" style="width:33%; top: 0% ;height:30px ; "   name="kod_city">
            {% for i in City %}
                {% if i.Код_Города == gorod %}
                    <option type="submit" selected value="{{i.Код_Города}}" >{{i.Город}}</option>
                {% else %}
                    <option value="{{i.Код_Города}}" >{{i.Город}}</option>
                {% endif %} 
            {% endfor %}
            <input type="date" name="start_time" value="{{start_time}}">
            <input type="date" name="end_time" value="{{end_time}}">
            
        </select><input type="submit" value="Отправить"></p> 
    </div> 
</form> 

{% if msg %}
{% include "include/include_osh.html"%}  
{% endif %}

{% if PRV %}
{% include "include/include_proverka.html"%}  
{% endif %}

<div class="tabs" style="width:100%;height:auto; margin-top: 3%; background:  rgb(202, 216, 237);">
    <input type="radio" name="inset" value="" id="tab_1"   checked />
    <label for="tab_1" style="width:20%;">НЕ ПРОВЕРЕНО</label>
    <input type="radio" name="inset" value="" id="tab_2"/>
    <label for="tab_2" style="width:20%;">ФРОД</label>
    <input type="radio" name="inset" value="" id="tab_3"/>
    <label for="tab_3" style="width:20%;">НЕ ФРОД</label>


    
<div id="txt_1">
    <div class="pricelist" id="pricelist" style="margin-top: 6%;" >
        <table id="pricetable-dan1" class="table-autosort:2">

            <thead>
                    <tr>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_date
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    launch_region_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    driver_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    state
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    pattern_name
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    compensation
                    </th>     
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    update_date
                    </th>  
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    Button
                    </th>           
                </tr>
            </thead>

            {% for i in FraudOrder %} 
                {% if i.resolution == resol.0 %}
                <tr>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.order_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.order_date}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.launch_region_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.driver_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.state}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.pattern_name}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.compensation}}
                    </td>        
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.update_date}}
                    </td>  
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {% if i.state == "UNBLOCKED" %}
                    <form action="{% url 'frod_prov_URL' %}"    method="POST" >
                        {% csrf_token %}
                        <button value="{{gorod}}///{{i.order_id}}///{{start_time}}///{{end_time}}///{{i.pattern_name}}" name="block"
                        style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                        Проверить заказ
                        </button>
                    </form>
                    {% else %}
                    <form action="{% url 'frod_prov_URL' %}"    method="POST" >
                        {% csrf_token %}
                        <button value="" name="block" disabled
                        style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                        Заказ проверяется другим пользователем ...
                        </button>
                    </form                  
                    {% endif %}    
                    </td>    
                </tr>
            {% endif %}
        {% endfor %} 
        </table>
    </div>
</div>
<div id="txt_2">
    <div class="pricelist" id="pricelist" style="margin-top: 6%;" >
        <table id="pricetable-dan2" class="table-autosort:2">

            <thead>
                <tr>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_date
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    launch_region_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    driver_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    state
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    pattern_name
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    compensation
                    </th>     
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    update_date
                    </th>  
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    Button
                    </th>           
                </tr>
            </thead>

            {% for i in FraudOrder %} 
                {% if i.resolution == resol.1 %}
                <tr >
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.order_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.order_date}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.launch_region_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.driver_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.state}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.pattern_name}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.compensation}}
                    </td>        
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.update_date}}
                    </td>  
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {% if i.state == "UNBLOCKED" %}
                        <form action="{% url 'frod_prov_URL' %}"    method="POST" >
                        {% csrf_token %}
                        <button value="{{gorod}}///{{i.order_id}}///{{start_time}}///{{end_time}}" name="block"
                        style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                        Кнопка с текстом
                        </button>
                        </form>
                    {% else %}
                        <form action="{% url 'frod_prov_URL' %}"    method="POST" >
                        {% csrf_token %}
                        <button value="{{gorod}}///{{i.order_id}}///{{start_time}}///{{end_time}}" name="block" disabled
                        style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                        asasa
                        </button>
                        </form                  
                    {% endif %}    
                    </td>    
                </tr>
                {% endif %}
            {% endfor %}  
        </table>

    </div>
</div>
<div id="txt_3">

    <div class="pricelist" id="pricelist" style="margin-top: 6%;" >
        <table id="pricetable-dan3" class="table-autosort:2">

            <thead>
                    <tr>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    order_date
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    launch_region_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    driver_id
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    state
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    pattern_name
                    </th>
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    compensation
                    </th>     
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    update_date
                    </th>  
                    <th class=" filterable sortable table-sortable:numeric" 
                    style="font-size: 10pt;padding: 3px;border: 1px solid black;text-align:left; vertical-align:top;">
                    Button
                    </th>           
                </tr>
            </thead>
            {% for i in FraudOrder %} 
        
                {% if i.resolution == resol.2 %}
                <tr  >
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.order_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.order_date}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.launch_region_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.driver_id}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.state}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.pattern_name}}
                    </td>
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.compensation}}
                    </td>        
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {{i.update_date}}
                    </td>  
                    <td class="nowrap" 
                    style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;" >
                    {% if i.state == "UNBLOCKED" %}
                        <form action="{% url 'frod_prov_URL' %}"    method="POST" >
                        {% csrf_token %}
                        <button value="{{gorod}}///{{i.order_id}}///{{start_time}}///{{end_time}}" name="block"
                        style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                        Кнопка с текстом
                        </button>
                        </form>
                    {% else %}
                        <form action="{% url 'frod_prov_URL' %}"    method="POST" >
                        {% csrf_token %}
                        <button value="{{gorod}}///{{i.order_id}}///{{start_time}}///{{end_time}}" name="block" disabled
                        style="background-color:rgb(179, 179, 179);;padding: 3px;border: 1px solid black;font-size: 10pt;">
                        asasa
                        </button>
                        </form                  
                    {% endif %}    
                    </td>    
                </tr>
                {% endif %}
            {% endfor %} 
            </table>
    </div>
</div>
<script>
    $(document).ready( function () {
    $('#pricetable-dan1').DataTable();
    } );
</script>
<script>
    $(document).ready( function () {
    $('#pricetable-dan2').DataTable();
    } );
</script>
<script>
    $(document).ready( function () {
    $('#pricetable-dan3').DataTable();
    } );
</script>



{% endblock %}  