{% extends "main_tabl.html" %}

{% block title %}
Доп. функции
{% endblock %}
 
{% block content %}

{% include "include/include_logout.html"%}  
<h1>Загрузка заказов для проверки фрода</h1>
<form action="{% url 'zagr_tr_url' %}"    method="POST" >
    {% csrf_token %}
    <div  style="width:50%; top: 0%;height:30px ;margin-top: 0%;">
        <select type="submit" style="width:33%; top: 0% ;height:30px ; "   name="kod_city">
            {% for i in City %}
                {% if i.Код_Города == gorod %}
                    <option type="submit" selected value="{{i.Код_Города}}" >{{i.Город}}</option>
                {% else %}
                    <option value="{{i.Код_Города}}" >{{i.Город}}</option>
                {% endif %} 
            {% endfor %}
            <input type="date" name="start_time" value="{{start_time}}">
            <input type="date" name="end_time" value="{{end_time}}">
        </select>
        <input type="hidden"   value="p_1"   name="function"/> 
        <input type="submit" title="загрузка заказов для проверки фрода" value="Загрузить"></p> 
    </div> 
</form> 
<br><br><br>
<h1>Убрать зависший заказ</h1>
<h>{{msg}}</h>
<form action="{% url 'zagr_tr_url' %}"    method="POST" >
    {% csrf_token %}
<div class="input-group-prepend">
    <span class="input-group-text" style="background-color:rgb(179, 179, 179);font-size: 10pt;" id="trip_id">Введите trip_id :</span>

<input type="text" class="form-control" id="trip_id" style="width:30%;" name="trip_id"/  >  
<input type="hidden"   value="p_2"    name="function"/> 
<input type="submit" title="загрузка заказов для проверки фрода" value="Загрузить"></p> 
    </div> 
</form> 

{% endblock %}  