{% extends "main_tabl.html" %}

{% block title %}
Доп. функции
{% endblock %}
 
{% block content %}

{% include "include/include_logout.html"%}  


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Загрузка заказов для проверки фрода</h1>
    <p class="lead">{{msg_1}}</p>
        <form action="{% url 'zagr_tr_url' %}"    method="POST" >
            {% csrf_token %}
            <div  style="width:70%; top: 0%;height:30px ;margin-top: 0%;">
                <select type="submit" style="width:33%; top: 0% ;height:30px ; "   name="kod_city">
                    {% for i in City %}
                        {% if i.launch_region_id == gorod %}
                            <option type="submit" selected value="{{i.launch_region_id}}" >{{i.city}}</option>
                        {% else %}
                            <option value="{{i.launch_region_id}}" >{{i.city}}</option>
                        {% endif %} 
                    {% endfor %}
                </select>    
                <input type="date" name="start_time" value="{{start_time}}">
                <input type="date" name="end_time" value="{{end_time}}">
                <input type="hidden"   value="p_1"   name="function"/> 
                <input type="submit" title="загрузка заказов для проверки фрода" value="Загрузить"></p> 
            </div> 
        </form> 
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ручное добавление заказа на проверку</h1>
    <p class="lead">{{msg_2}}</p>

    <form action="{% url 'zagr_tr_url' %}"    method="POST" >
        {% csrf_token %}
        <div class="input-group-prepend">
            <span class="input-group-text" style="background-color:#e9ecef;font-size: 10pt;" id="order_id">Введите trip_id :</span>
            <input type="text" class="form-control" id="order_id" style="width:30%;" name="order_id"/  >  
            <input type="hidden"   value="p_3"    name="function"/> 
            <input type="submit" title="загрузка заказов для проверки фрода" value="Выполнить"></p> 
        </div> 
    </form> 
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Убрать зависший заказ</h1>
    <p class="lead">{{msg}}</p>

    <form action="{% url 'zagr_tr_url' %}"    method="POST" >
        {% csrf_token %}
        <div class="input-group-prepend">
            <span class="input-group-text" style="background-color:#e9ecef;font-size: 10pt;" id="trip_id">Введите trip_id :</span>
            <input type="text" class="form-control" id="trip_id" style="width:30%;" name="trip_id"/  >  
            <input type="hidden"   value="p_2"    name="function"/> 
            <input type="submit" title="загрузка заказов для проверки фрода" value="Выполнить"></p> 
        </div> 
    </form> 
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Убрать зависшие заказы</h1>
    <p class="lead">{{msg_3}}</p>

    <form action="{% url 'zagr_tr_url' %}"    method="POST" >
        {% csrf_token %}
        <div class="input-group-prepend">
            <input type="hidden"   value="Выполнить"  name="function"/> 
            <input type="submit" title="загрузка заказов для проверки фрода"  value="Выполнить"></p> 
        </div> 
    </form> 
  </div>
</div>

{% endblock %}  


