<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}
                заголовок
                {% endblock %}
            </title>
   {% load static%} 
    {% load leaflet_tags %}
   <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
   <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
   <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css">
   <script src="{% static 'js/123.js' %}"></script> 

      <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/1.css' %}" type="text/css">


        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% leaflet_js %}
    {% leaflet_css %}
        

       
     <!-- 
-->
   
</head>
<body  background="{% static 'img/fon.jpg' %}">

        {% block content %}
        
        {% endblock  %}   

</body>
</html>    
